/* myPro-allQtns-total-display */
/* myPro-allQtns-total-number */

:root {
  --main-color: rgb(216, 112, 14);
  --background-main-color: rgb(33, 33, 33);
  --btn-main-color: steelblue;
  --secondary-text-color: whitesmoke;
  --primary-text-color: #fff;
  --main-body-color: #c3c3c3;
  --hover-main-color: rgb(90 , 90, 90);
  --form-bg-color: azure;
  --dark-text-color: #000;
  --box-shadow-color:0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.5);
  --secondary-box-shadow-color: 0 3px 3px rgba(0,0,0,0.5), 0 3px 3px rgba(0,0,0,0.5);
  --university-bg-color: rgb(45, 45, 45);
  --happy-text-color:darkgreen;
  --danger-color:red;
  --university-text-color:navy;
  --light-grayish-color: rgb(205, 205, 205);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-body-color);
  margin: 0;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.navbar {
  background-color: var(--background-main-color);
  box-shadow: var(--secondary-box-shadow-color);
  color: var(--primary-text-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;  
  z-index: 6;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.app-title-container {
  display: inline-flex;
  align-items: center;
}

.title-container {
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.nav-content 
.user-title ,
.nav-app-title ,
.createAcc-title {
  color: var(--main-color);
  letter-spacing: 2px;
  margin: 0;
}
 
.nav-app-title ,
.createAcc-title {
  letter-spacing: 5px;
  font-size: 30px;
}

nav .logo {
  width: 40px;
  height: 22px ;
}  

.menu-button {
  background-color: rgb(164, 164, 164);
  box-shadow: var(--secondary-box-shadow-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-symbol {
  width: 15px;
  height: 20px;
}

.searchForm {
  margin: 0;
}

.searchForm input {
  border: none;
  border-radius: 35px;
  width: 800px;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.searchForm input:focus {
  outline-color:var(--main-color);
}

.form-btn input ,
.form-btn a {
  border: none;
  border-radius: 35px;
  padding: 5px 18px;
  color: var(--primary-text-color);
}

.form-btn:active {
  transform: scale(0.98);
}

.form-btn .sign-up-btn ,
.sign-in-btn {
  background-color: var(--btn-main-color);
}

.form-btn .logout-btn {
  background-color: blueviolet;
}

.main-content {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 95vh;
  width: 100vw;
  background-color: var(--main-body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.login-container ,
.login-success-container ,
.register-container ,
.register-success-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow-color);
  text-align: center;
  overflow: hidden;
  padding: 30px 45px;
  margin-top: 30px ;
}

.login-logo ,
.register-logo  {
  width: 30px;
}

.register-success-logo ,
.login-success-logo {
  width: 20px;
}

.login-container h1 
.register-container h1 {
  text-align: center;
  margin-bottom: 0;
}

.form-control {
  margin: 10px 0 15px;
  width: 400px;
} 

.login-success-container a ,
.register-success-container a{
  font-size: 20px;
  text-decoration: underline 1px solid var(--dark-text-color);
  text-underline-offset: 2px;
}

.login-container a ,
.login-success-container a ,
.register-container a ,
.register-success-container a{
  color: var(--btn-main-color);
}

.form-control input {
  width: 100%;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--main-color);
  display: block;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
}

.login-container .login-btn ,
.register-container .register-btn {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size:18px;
  color: var(--primary-text-color);
  background-color:var(--btn-main-color);
}

.login-container .login-btn:focus ,
.register-container .register-btn:focus {
  outline: none;
}

.login-container .login-btn:active ,
.register-container .register-btn:active {
  transform: scale(0.98);
}

.register-text {
  color: var(--dark-text-color);
}

.user-container {
  background-color: var(--background-main-color);
  width: 100vw;
  height: 97vh;
  position: relative;
  position: absolute;;
  overflow: hidden;
  bottom: 0;
}

.left-container {
  background-color: var(--university-bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  position: relative;
  z-index: 5;
  transform: translateX(0);
  transition: transform 0.3s linear;
}

.left-container.hide {
  transform: translateX(-100);
  transform-origin: left ;
}

.right-container {
  background-color: var(--background-main-color);
  width: 100vw;
  position: absolute;
  height: 100vh;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  overflow: hidden;
}

.profile-link-container ,
.postQtn-link-container {
  word-break: break-all;
  text-align: center;
}

.profile-link ,
.postQtn-link {
  color: var(--main-color);
  font-size: 22px;
  font-family:  'Times New Roman', Times, serif;
  text-decoration:2px underline var(--main-color);
  text-underline-offset: 2px;
  letter-spacing: 2px;
  text-align: center;
}

.topics-title ,
.profile-categories-title {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-top: 15px;
  text-underline-offset: 2px;
  letter-spacing: 3px;
  padding: 5px;
}

.sidebar-menu {
  position: absolute;
  top: 60;
  width: 25vw;
}

.sidebar-menu .content-btns {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  text-align: center;
}

.post-questions-btn-content ,
.questions-btn-content ,
.mostAnswered-questionsBtn-content {
  background-color: transparent;;
  width: 100%;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.post-questions-btn ,
.questions-btn ,
.mostAnswered-questionsBtn {
  background-color: transparent;
  border: none;
  color: var(--secondary-text-color);
  font-size: 25px;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  height: 80px;
  margin: 5px;
}

.post-questions-btn:hover ,
.questions-btn:hover ,
.mostAnswered-questionsBtn:hover {
  color: var(--main-color);
  font-size: 24px;
}

.post-content ,
.user-recentQtns-content-container ,
.user-allQtns-content-container ,
.myPro-allQtns-content-container ,
.myPro-mostAnsweredQtns-content-container ,
.myPro-allRecentQtns-content-container ,
.answer-content-container {
  height: 85vh;
  max-width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50;
}

footer {
  position: fixed;
  bottom: 10;
  color: var(--main-color);
  margin-top: 80px;
  text-align: center;
}

.post-title {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.post-title strong {
  color: var(--main-color);
}

.post-form {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.post-form label {
  margin-left: 8px;
}

.post-qtn-form ,
.post-title-form {
  background-color: var(--secondary-text-color);
  display: block;
  width: 100%;
  border: none;
  border-radius:2px;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

 .post-qtn-form:focus ,
 .post-title-form:focus{
  outline: none;
}

.submit-qtn-btn {
  width:100px;
  background-color: var(--btn-main-color);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2px 5px;
  font-size: 14px;
  font-family: inherit;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-left: 8px;
}

.submit-qtn-btn:active {
  transform: scale(0.98);
}
.submit-qtn-btn:focus {
  outline: none;
}

.post-slogan {
  font-size: 1.8em;
  letter-spacing: 1.2px;
  text-align: center;
}

.post-slogan em {
  color: var(--main-color);
}

.ask-qtn-container ,
.user-allQtns-container ,
.user-recentQtns-container ,
.myPro-allQtns-container ,
.myPro-recentQtns-container {
  background-color: var(--university-bg-color);
  border-radius: 2px;
  width: 80vw; 
  max-height: 87vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-text-color);
  position: relative;
}

.user-allAnswers-container {
  background-color: var(--university-bg-color);
  border-radius: 2px;
  width: 80vw; 
  height: 87vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-text-color);
  overflow-y: scroll;
  margin-top: 50;
  position: relative;
}

.question-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ask-qtn-container {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  align-items: center;
}

.hide {
  display: none;
}

.user-allSelectedQtn-content {
  background-color: var(--form-bg-color);
  margin: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  word-break: break-all;
  padding: 8px;
}

.myPro-recentQtns-container {
  margin-left: 5px;
}

.myPro-allQtns-total-display ,
.allUser-qtns-display {
  background-color: rgb(23, 23, 23);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 8px 0;
  padding: 10px;
  z-index: 1;
}

.profile-title-container ,
.user-title-container {
  display: inline-flex;
}

.myPro-allQtns-title ,
.myPro-mostAnsweredQtns-title ,
.myPro-answers-title ,
.allUser-qtns-title ,
.user-allAnswers-title ,
.selected-questions-title {
  text-decoration: underline 2px solid var(--main-color);
  text-underline-offset: 2px;
  font-size: 20px;
  text-align: center;
  color: var(--primary-text-color);
  letter-spacing: 1.2px;
  padding: 5px;
}

.user-allAnswers-title {
  width: 100%;
}

.myPro-allQtns-title ,
.myPro-mostAnsweredQtns-title {
  margin-left: 20px;
}

.user-allAnswers-title ,
.selected-questions-title {
  background-color: rgba(0, 0, 0, 0.4);
}

.myPro-allQtns-total-container ,
.myPro-total-answers-container ,
.allUser-total-qtns-container {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  margin: 0;
}

.myPro-allQtns-total-number ,
.myPro-mostAnsweredQtns-total-number ,
.myPro-total-answers-number  {
  border-right: 3px solid var(--happy-text-color);
  border-left: 3px solid var(--happy-text-color);
  border-radius: 50%;
  font-size: 16px;
  font-family: inherit;
  color: var(--main-color);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0;
}

.view-questions-container {
  position: absolute;
  top: 50;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:1;
  padding: 0 10px 0 10px;
}

.back-Qtns-btn ,
.view-recentQtns-btn ,
.myPro-backQtns-btn ,
.myPro-mostAnsweredQtns-backBtn ,
.myPro-view-recentQtns-btn ,
.view-mostAnsweredQtns-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--secondary-box-shadow-color);
  color: var(--primary-text-color);
  text-decoration: underline 2px solid var(--main-color);
  text-underline-offset: 2px;
  padding: 5px;
}

.back-Qtns-btn:active ,
.view-recentQtns-btn:active ,
.myPro-backQtns-btn:active ,
.myPro-mostAnsweredQtns-backBtn:active ,
.myPro-view-recentQtns-btn:active ,
.view-mostAnsweredQtns-btn:active{
  transform: scale(0.98);
}

.user-allQtns-content ,
.user-allAnswers-content ,
.myPro-allQuestions-content {
  border-radius: 5px;
  overflow-y: scroll;
  word-break: break-all;
  height: 87vh;
}

.myPro-allQuestions-content {
  margin-top: 23px;
}

.user-allQtns-list ,
.user-allAnswers-list ,
.myPro-allQuestions-list ,
.myPro-mostAnsweredQuestions-list ,
.myPro-allQtnAnswers-list  ,
.myPro-recentAllQuestions-list {
  list-style-type: none;
  padding: 5px;
}

.user-allQtns-list ,
.myPro-allQuestions-list {
  margin-top: 50px;
}

.user-allAnswer-content ,
.user-allQtn-content ,
.myPro-allQtn-content ,
.myPro-answer-content {
  background-color: var(--form-bg-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  margin: 5px; 
  letter-spacing: 1px;
  font-size: 18px;
  position: relative;
}

.selectedQuestion-date ,
.selectedQuestion-total-answer-view {
  color: var(--happy-text-color);
  text-decoration: underline 1px solid var(--dark-text-color);
  font-size: 14px;
}

.total-answer-view ,
.answer-date ,
.question-date ,
.answer-author {
  margin: 5px 0 0 10px;
  color: var(--happy-text-color);
  text-decoration: underline 1px solid var(--dark-text-color);
  font-size: 14px;
}

.qtn-title {
  margin: 5px 10px;
  text-underline-offset: 2px;
  font-size: 20px;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}

.selected-userQuestionTitle-body,
.selected-userQuestion-body {
  margin-top: 5;
}

.selected-userQuestion-body strong ,
.selected-userQuestionTitle-body strong ,
.qtn-title strong {
  text-decoration: underline 1px solid var(--dark-text-color);
}

.answer-body, 
.user-allQtn-body ,
.myPro-allQtn-body {
  margin: 2px 10px 5px ;
}

.picked {
  border-top: 5px solid var(--happy-text-color);
}

.answer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-addAnswers-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.user-addAnswer-textarea {
  background-color: var(--secondary-text-color);
  border: none;
  border-radius: 5px;
  font-size: 19;
  margin: 6px;
  padding: 10px;
} 

.user-addAnswer-textarea:focus {
  outline-color: var(--main-color);
}

.user-addAnswer-btn {
  width: 80px;
  background-color: var(--happy-text-color);
  border: none;
  border-radius: 15px;
  margin: 6px;
  color: var(--secondary-text-color);
}

.user-addAnswer-btn:focus {
  outline: none;
}

.user-addAnswer-btn:active {
  transform: scale(0.98);
}

.myPro-pickAnswerBtn-content {
  position: absolute;
  right: 5
}

.myPro-pickAnswer-btn {
  border: none;
  width: 60px;
  border-radius: 15px;
  box-shadow: var(--box-shadow-color);
  font-size: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--happy-text-color);
  margin: 5px;
}

.myPro-delete-qtn-btn ,
.myPro-delete-recentQtn-btn {
  position: absolute;
  right: 8;
  top: 5;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  box-shadow: var(--secondary-box-shadow-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-weight: bolder;
  color: var(--form-bg-color);
  background-color: darkred; 
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.myPro-pickAnswer-btn:active ,
.myPro-delete-qtn-btn:active ,
.myPro-delete-answer-btn:active ,
.myPro-delete-recentQtn-btn:active {
  transform: scale(0.98);
}

.myPro-pickAnswer-btn:focus ,
.myPro-delete-qtn-btn:focus ,
.myPro-delete-answer-btn:focus ,
.myPro-delete-recentQtn-btn:focus {
  outline: none;
}

.success {
  background-color: var(--happy-text-color);
  width: 60vw;
  border-radius: 5px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 18px; 
  margin-bottom: 10px;
}

.registerError ,
.login-error {
  background-color: var(--danger-color);
  width: 70%;
  border-radius: 5px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  z-index: 1;
}

.error {
  background-color: var(--danger-color);
  width: 60vw;
  border-radius: 5px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 18px; 
  margin-bottom: 10px;
}

/* Media 1135px */
@media screen and (max-width: 1280px) {  
  .searchForm input {
    width: 750px;
  }
}

/* Media 1200 */
@media screen and (max-width: 1200px) {
  .searchForm input {
    width: 700px;
  }
}

/* Media 1110 */
@media screen and (max-width: 1110px) {
  .searchForm input {
    width: 600px; 
  }
}

/* Media 1025 */
@media screen and (max-width: 1025px) {
  .searchForm input {
    width: 550px; 
  }

  .post-title {
    font-size: 23px;
  }

  .post-title-form {
    height: 60px;
    font-size: 18px;
  }

  .post-qtn-form {
    height: 140px;
    font-size: 18px;
  }

  .post-slogan {
    font-size: 20px;
  }

  
  .error ,
  .success {
    font-size: 18px;
  }

  .submit-qtn-btn {
    margin-left: 5px;
  }
}

/* Media 980 */
@media screen and (max-width: 980px) {
  .searchForm input {
    width: 500px; 
  }
}

/* Media 925 */
@media screen and (max-width: 925px) {
  .searchForm input {
    width: 450px; 
  }

  .error ,
  .success {
    font-size: 18px;
  }

  .submit-qtn-btn {
    margin-left: 5px;
  }
}

/* Media 870 */
@media screen and (max-width: 870px) {
  .searchForm input {
    width: 400px; 
  }
}

/* Media 820 */
@media screen and (max-width: 820px) {
  .searchForm input {
    width: 380px;
  }

  .error ,
  .success {
    font-size: 18px;
  }
}

/* Media 768 */
@media screen and (max-width: 795px) {
  .searchForm input {
    width: 320px; 
  }

  .error ,
  .success {
    font-size: 18px;
  }
}

/* Media 730 */
@media screen and (max-width: 735px) {
  .searchForm input {
    width: 280px; 
  }
}

/* Media 695 */
@media screen and (max-width: 695px) {
  .app-title-container {
    margin-left: -10px;
  }

  .app-title-container h3 {
    margin-left: 10px;
  }

  .searchForm input {
    width: 350px;
    padding: 0;
    font-size: 23px;
  }

  .logoTitle-container {
    margin-left: -5px; 
 }

  .nav-app-title {
  font-size: 30px;
  letter-spacing: 2px;
  margin-right: 25px;
}

 .login-container ,
 .register-container {
    width: 90vw;
  }

  .title-container {
    display: none;
  }

} 

/* Media 580 */
@media screen and (max-width: 580px) {
  .searchForm input {
    width: 320px;
  }

  .form-btn .sign-up-btn ,
  .form-btn .logout-btn{
    padding: 2px 10px;
    font-size: 16px;
  }
}

/* Media 540 */
@media screen and (max-width: 540px) {
  .searchForm input {
    width: 330px;
  }

  .post-title {
    font-size: 20px;
  }

  .post-title-form {
    height: 80px;
    font-size: 18px;
  }

  .post-qtn-form {
    height: 240px;
    font-size: 18px;
  }

  .submit-qtn-btn {
    width: 80px;
    margin-left: 5;
    font-size: 13;
    padding: 2px;
  }

  .post-slogan {
    font-size: 20px;
  }

  .error ,
  .success {
    font-size: 16px;
  }
}

/* MEDIA 530 */
@media screen and (max-width: 530px) {
  .form-btn .sign-up-btn ,
  .form-btn .logout-btn{
    font-size: 17px;
  }

  .postQtn-link {
    font-size: 18px;
  }

 
  .post-questions-btn , 
  .questions-btn {
    font-size: 18px;
    padding-left: 4px;
  }

  .questions-btn:hover {
    font-size: 20px;
    padding: 0;
  }

  .post-questions-btn:hover {
    font-size: 19px;
  }

}

/* Media 510 */
@media screen and (max-width: 510px){
  .login-success-container ,
  .register-success-container {
    width: 90vw;
  }
}


/* Media 470 */
@media screen and (max-width: 470px) {
  .form-control {
    width: 350px;
  }

  .searchForm input {
    width: 240px;
  }

  .myPro-view-recentQtns-btn {
    font-size: 10px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 17px;
    margin-left: 5px;
  }

}

@media screen and (max-width: 435px){
  .app-title-container h3 {
    font-size: 26px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 15px;
  }

}


/* Media 414 */
@media screen and (max-width: 414px) {
  .logoTitle-container {
    margin-left: -5px; 
 }

  nav .logo {
    width: 25px;
  }

  .menu-symbol {
    height: 23px;
  }

  .app-title-container h3 {
    font-size: 28px;
  }

  .nav-app-title {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .form-btn .sign-up-btn {
    padding: 6px;
    font-size: 15px;
  }

  .login-container ,
  .register-container {
    width: 90vw;
  }

  .login-logo {
    width: 35px;
  }
  
  .login-container h1 {
    font-size: 35px;
  }

  .register-container h1 {
    margin-bottom: 0;
  }

  .form-btn .sign-in-btn {
    font-size: 18px;
    padding: 5px;
  }

  .form-control {
    width: 280px;  
  } 

  .form-control input {
    font-size: 17px;
  } 
  
  .searchForm input {
    width: 220px;
    padding: 0;
    font-size: 23px;
  }

  .form-btn .login-btn ,
  .form-btn .register-btn {
    padding: 5px;
    font-size: 15px;
  }

  .registerError {
    font-size: 16px;
  }

  .form-btn .sign-up-btn ,
  .form-btn .logout-btn ,
  .form-btn .sign-in-btn {
    padding: 2px 10px;
    font-size: 20px;
  }

  .login-success-container ,
  .register-success-container {
    width: 90vw;
    padding: 10px;
  }

  .login-success-container h2 ,
  .register-success-container h2 {
    font-size: 18px;
  }
  .login-success-container a ,
  .register-success-container a{
    font-size: 18px;
  }

  .profile-link ,
  .postQtn-link {
    font-size: 20px;
    text-decoration:1px underline var(--main-color);
    letter-spacing: 1px;
  }

  .postQtn-link {
    font-size: 22px;
  }


  .post-qtn-form {
    height: 250px;
    font-size: 18px;
  }

  .post-slogan {
    font-size: 20px;
  }

  .topics-title ,
  .profile-categories-title {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  text-underline-offset: 2px;
  letter-spacing: 1px;
}

  .post-questions-btn:hover ,
  .questions-btn:hover {
    font-size: 20px;
    padding: 0;
  }

  footer {
    font-size: 18px;
  }


  .myPro-mostAnsweredQtns-total-number {
    font-size: 13px;
    padding: 3;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 16px;
    margin-left: 5px;
  }

  .myPro-mostAnsweredQtns-backBtn {
    font-size: 10px;
  }

  .myPro-answer-content {
    padding-bottom: 25px;
  }

  .myPro-pickAnswerBtn-content {
    right: 0;
    bottom: 0;
  }
}


/* Media 395 */
@media screen and (max-width: 395px) {
  nav .logo {
    height: 20px;
  }

  .app-title-container h3 {
    font-size: 25px;
  }

  .menu-symbol {
    height: 21px;
  }

  .searchForm input {
    width: 220px;
    font-size: 18px;
  }

  .form-btn .sign-up-btn ,
  .form-btn .logout-btn  ,
  .form-btn .sign-in-btn {
    font-size: 15px;
  }

  .form-control {
    width: 330px;
  }

  .postQtn-link {
    font-size: 16px;
  }

  .post-title {
    font-size: 18px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 15px;
  }
}

/* Media 385 */
@media screen and (max-width: 385px) {
  .menu-symbol {
    height: 18px;
    width: 13px;
  }

  .nav-app-title {
    font-size: 25px;
    letter-spacing: 0.5px;
  }

  .register-container {
    height: 500px;
  }

  .register-container h1 {
    font-size: 30px;
  }

  .form-control {
    width: 300px;
  }

  .post-title {
    font-size: 17px;
  }

  .post-title-form {
    height: 60px;
    font-size: 15px;
  }

  .post-qtn-form {
    height: 180px;
    font-size: 15px;
  }

  .post-slogan {
    font-size: 16px;
  }

  .error ,
  .success {
    font-size: 13px;
  }

  .allUser-qtns-title {
    font-size: 16px;
  }

  .view-recentQtns-btn {
    font-size: 10px;
  }

  .view-mostAnsweredQtns-btn {
    font-size: 10px;
    width: 100px;
  }

  .view-questions-container {
    top: 46;
  }

  .myPro-view-recentQtns-btn {
    font-size: 10px;
  }

  /* .myPro-allQtns-total-number , */
  .myPro-mostAnsweredQtns-total-number  {
    font-size: 10px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 14px;
    margin-left: 5px;
  }

  .myPro-mostAnsweredQtns-backBtn {
    font-size: 10px;
  }
}

/* Media 365 */
@media screen and (max-width: 365px) {
  nav .logo {
    height: 19px;
  }

  .searchForm input {
    width: 200px;
    font-size: 18px;
  }

  .register-container h1 {
    font-size: 29px;
  }
  .post-questions-btn:hover , 
  .questions-btn:hover {
    font-size: 19px;
    padding: 0;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 13px;
  }
}

/* Media 350 */
@media screen and (max-width: 350px) {
  .app-title-container h3 {
    font-size: 18px;
  }

  .form-control {
    width: 280px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 12px;
  }

  .myPro-view-recentQtns-btn {
    font-size: 10px;
  }

  .myPro-mostAnsweredQtns-backBtn {
    font-size: 8px;
  }

}

/* Media 320px */
@media screen and (max-width: 320px){
  nav .logo {
    width: 25px;
    height: 20px;
  }

  .nav-app-title {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .searchForm input {
    width: 120px;
    font-size: 17px;
  }

  .form-btn .sign-up-btn {
    font-size: 12px;
    padding: 3px;
  }

  .form-btn .sign-in-btn {
    font-size: 12px;
  }

  .form-btn .logout-btn {
    font-size: 13px;
  }

  .login-logo {
    width: 25px;
  }
  
  .login-container h1 {
    font-size: 25px;
    margin-bottom: 0;
  }

  .register-container h1 {
    font-size: 20px;
  }
  
  .form-control {
    width: 200px;
  } 

  .register-container .register-btn {
    width: 100%;
  } 

  .form-btn .login-btn {
    padding: 4px;
    font-size: 13px;
  }

  .login-error ,
  .registerError {
    width: 80%;
    font-size: 13px;
  }

  .login-success-container h2 {
    font-size: 13px;
  }

  .login-success-container a {
    font-size: 13px;
  }

  .profile-link ,
  .postQtn-link {
    font-size: 12px;
  }

  .post-title {
    font-size: 15px;
  }

  .post-title-form {
    height: 40px;
    font-size: 13px;
  }

  .post-qtn-form {
    height: 150px;
    font-size: 13px;
  }

  .post-slogan {
    font-size: 13px;
  }

  .error ,
  .success {
    font-size: 13px;
  }

  .topics-title ,
  .profile-categories-title {
  text-align: center;
  font-size: 12px;
}

  .post-questions-btn , 
  .questions-btn {
    font-size: 12px;
  }

  .post-questions-btn:hover , 
  .questions-btn:hover {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }

  .myPro-view-recentQtns-btn {
    font-size: 10px;
  }

  .profile-title-container {
    margin-left: 30px;
  }

  .myPro-allQtns-title {
    font-size: 18px;
  }

  .myPro-allQtns-total-number {
    font-size: 12px;
    padding: 2px;
  }

  .myPro-mostAnsweredQtns-total-number {
    font-size: 15px;
  }

  .myPro-mostAnsweredQtns-title {
    font-size: 14px;
  }
}
