:root {
  --main-color: rgb(216, 112, 14);
  --background-main-color: rgb(33, 33, 33);
  --btn-main-color: steelblue;
  --secondary-text-color: whitesmoke;
  --primary-text-color: #fff;
  --main-body-color: #c3c3c3;
  --hover-main-color: rgb(90 , 90, 90);
  --form-bg-color: azure;
  --dark-text-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-body-color);
  margin: 0;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.navbar {
  background-color: var(--background-main-color);
  /* height: 55px; */
  box-shadow: 0 3px 3px rgba(0,0,0,0.5), 0 3px 3px rgba(0,0,0,0.5);
  color: var(--primary-text-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;  
  z-index: 1;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}


.nav-content .title-container {
  display: flex;
}

.nav-content 
.user-title ,
.login-title ,
.createAcc-title {
  color: var(--main-color);
  letter-spacing: 2px;
  margin: 0;
}
 
.nav-content h1 em {
  color: var(--secondary-text-color);
}

.nav-content .login-title ,
.createAcc-title {
  letter-spacing: 5px;
  font-size: 30px;
}

nav .logo {
  width: 60px;
  height: 30px ;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 18px;
  margin: 0;
}

.nav-content ul li {
  margin: 5px;
}

.nav-content ul li a {
  color: var(--primary-text-color);
  font-size: 20px;
}

.nav-content ul li a:active {
  color: var(--main-color);
}

.searchForm {
  margin: 0;
}

.searchForm input {
  border: none;
  border-radius: 35px;
  width: 300px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.searchForm input:focus {
  outline-color:var(--main-color);
}

.form-btn input
 {
  border: none;
  border-radius: 35px;
  padding: 8px 18px;
  color: var(--primary-text-color);
}

.form-btn:active {
  transform: scale(0.98);
}

.form-btn .sign-up-btn ,
.sign-in-btn{
  background-color: steelblue;
}

.form-btn .sign-out-btn {
  background-color: blueviolet;
}

.main-content {
  position: absolute;
  position: fixed;
  bottom: 0;
  height: 95vh;
  width: 100vw;
  background-color: var(--main-body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  padding: 30px 45px;
  margin-top: 30px ;
}

.login-logo {
  width: 40px;
}

.login-container h1 {
  text-align: center;
}

.form-control {
  margin: 15px 0 30px;
  width: 300px;
} 

.login-container a {
  color: steelblue;
}

.form-control input {
  width: 100%;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--main-color);
  display: block;
  font-size: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
}

.login-container .loginForm-btn {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size:18px;
  color: var(--primary-text-color);
  background-color:steelblue;
}

.login-container .loginForm-btn:focus {
  outline: none;
}

.login-container .loginForm-btn:active {
  transform: scale(0.98);
}

@media(max-width: 1050px) {

  .navbar ul li:nth-of-type(3){
    display: none;
  }

  .navbar ul {
    margin-left: -50px;
  }

  @media(max-width: 930px){
    .navbar ul li:nth-of-type(2){
      display: none;
    }
  }

  @media(max-width: 870px){
    .nav-content .user-title {
      display: none;
    }
    
    .nav-content .login-title ,
    .createAcc-title
    {
      margin-left: -15px;
    }
  }

  @media(max-width: 640px){
    .navbar ul li:nth-of-type(1){
      display: none;
    }
  }
}

.user-container {
  background-color: var(--background-main-color);
  width: 100vw;
  height: 95vh;
  position: relative;
  overflow: hidden;
  margin-top: 5vh;
  bottom: 0;
}

.left-container {
  background-color: rgb(45, 45, 45);
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.right-container {
  background-color: var(--background-main-color);
  width: 75vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
}

.left-container .left-header {
  position: absolute;
  top: 70;
  left: 20;
  display: flex;
  align-items: center;
}

.open-profile {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-image: url('/img/Diana King.jpg');
  background-size: cover;
  cursor: pointer;
}

.profile-link {
  color: var(--main-color);
  font-size: 20px;
  text-decoration: underline var(--secondary-text-color);
  margin: 8px;
  letter-spacing: 2px;
}

 .sidebar-menu .content-btns {
  list-style-type: none;
  margin-left: -40px;
}

.content-btns 
.post-qtn-btn , 
.recent-qtns-btn ,
.qtns-answers-btn {
  background-color: transparent;
  border: none;
  color: var(--secondary-text-color);
  font-size: 25px;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  width: 25vw;
  height: 80px;
  transition: all 0.1s ease-in-out;
}

.content-btns .post-qtn-btn:hover ,
.recent-qtns-btn:hover ,
.qtns-answers-btn:hover {
  background-color: var(--secondary-text-color);
  color: var(--main-color);
  font-size: 23px;
}

.right-container .post-content {
  max-width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.right-container .post-title {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.right-container .post-title strong {
  color: var(--main-color);
}

.right-container .post-form {
  display: flex;
  align-items: center;
}

.post-form .post-qtn {
  background-color: var(--secondary-text-color);
  display: block;
  width: 100%;
  border: none;
  border-radius:2px;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

.post-form .post-qtn:focus {
  outline-color: var(--main-color);
}

.post-form .post-btn {
  background-color: var(--btn-main-color);
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 20px;
  font-family: inherit;
  color: var(--primary-text-color);
  cursor: pointer;
}

.post-form .post-btn:active {
  transform: scale(0.98);
}

.post-content .post-text {
  font-size: 1.8em;
  letter-spacing: 1.2px;
  text-align: center;
}

.post-content .post-text em {
  color: var(--main-color);
}

.posted-qtn {
  background-color: transparent;
  height: 80vh;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.posted-qtn-content {
  background-color: var(--form-bg-color);
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 8px;
}

.posted-qtn-text {
  font-size: 22px;
  color: var(--dark-text-color);
  margin: 5px;
}

.answer-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.answer-form .answer-post {
  background-color: var(--form-bg-color);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  font-family: serif;
  text-align: center;
  letter-spacing: 1px;
}

.answer-form .answer-post:focus {
  outline-color: var(--main-color);
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.answers-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--form-bg-color);
  border-radius: 10px;
  overflow: auto;
  margin: 0;
}

.posted-qtn-btns {
  margin: 10px;
}

.posted-delete-btn ,
.posted-answers-btn {
  border: none;
  border-radius: 15px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.5) ;
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
}

.posted-delete-btn {
  color: red;
}

.posted-answers-btn {
  color: green;
  margin-left: 25px;
}

.posted-delete-btn:active {
  transform: scale(0.98);
}

.posted-answers-btn:active {
  transform: scale(0.98);
}

.answers-content .answer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 8px;
  margin: 3px;
  margin-top: 150px;
}

.answer-list .answer {
  background-color: var(--secondary-text-color);
  border-radius: 10px;
  box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.5) ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: var(--dark-text-color);
  margin: 0 0 5px;
}

.answer-text {
  align-items: center;
  margin: 5px;
}

.answer .pick-answer-btn {
  border: none;
  border-radius: 15px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.5) ;
  font-size: 14px;
  margin: 0 5px ;
  cursor: pointer;
  color: green;
}

.pick-answer-btn:active {
  transform: scale(0.98);
}

@media(max-width: 870px) {
  .profile-link {
    font-size: 16px;
  }

  .open-profile {
    width: 50px;
    height: 50px;
    margin: 2px;
  }

  .post-qtn-btn ,
  .recent-qtns-btn ,
  .qtns-answers-btn {
    font-size: 23px;
  }

  .post-qtn-btn:hover ,
  .recent-qtns-btn:hover ,
  .qtns-answers-btn:hover 
  {
    font-size: 21px;
  }

}

/* .recent-container-bg {
  width: 100vw;
  height: 95vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px ;
} */

.recent-qtns-container {
  background-color: rgb(45, 45, 45);
  border-radius: 15px;
  max-width: 700px;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: var(--dark-text-color);
}

.recent-qtns-title {
  border-bottom: 1px solid var(--main-color);
  font-size: 30px;
  text-align: center;
  color: var(--primary-text-color);
  letter-spacing: 1.2px;
}

.recent-qtns {
  list-style-type: none;
  padding: 5px;
  margin-top: -15;
}

.recent-qtn-tab {
  background-color: var(--form-bg-color);
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  margin: 5px; 
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 20px;
}